@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    My name is Liam Hanrahan a graduate software developer from UTS.
    This website is an excercise for me to improve and display my web development and programming skills.
</div>
