
@{
    ViewBag.Title = "Directory";
}

<div id="left-column">
    <div class="text-body">
        <h2>@ViewBag.Title</h2>
        <ul class="directory">
            <li><a href="https://mail.google.com/mail/u/0/?shva=1#inbox">Gmail</a></li>
            <li><a href="https://www.youtube.com/">YouTube</a></li>
            <li><a href="http://www.reddit.com/">Reddit</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://www.goodreads.com/">GoodReads</a></li>
        </ul>
    </div>
</div>
