@{
    ViewBag.Title = "Razer Comms";
}

<h2 style="color:white">@ViewBag.Title</h2>

<div class="full-area">
    <iframe frameborder=0
            style="overflow:hidden; height:100%; width:100%;"
            scrolling="no"
            src="http://comms.razerzone.com/communities/chatpanel/?id=27647625d475c3b171c9389f741d2cca67924232"></iframe>
</div>